/local.properties
/captures
/.project

datalibrary

#bin
gen
build

.idea
*.iml
.gradle
.settings
lint-results.*ml
lint-results_files
.DS_Store
*.DS_Store
*.class
hotfixApk
settings-local.gradle
annotations/
/.gitignore

node_modules
gen/
.scannerwork
